<div class="container-fluid text-light p-5" id="home-container">
  <div class="jumbotron text-center bg-dark p-5" id= "home-window">
      <h1 class="display-4">Welcome to my Blog</h1>
      <hr>
      <p>Go to My Website</p>
      <button type="button" class="btn btn-success">Login</button>
  </div>
</div>